@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Le styles -->
    <link href="@Url.Content("~/Content/Bootstrap/css/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Bootstrap/css/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/waterfall.css" rel="stylesheet" />
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/Content/Bootstrap/docs/assets/js/html5.js"></script>
    <![endif]-->
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
            font-family: "Microsoft YaHei" !important;
            font-size: 12px;
        }
        /* Set the fixed height of the footer here */
        #footer {
            margin-top: 50px;
            height: 60px;
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        @Html.Partial("_NavTopBar")
    </div>
    <div class="container">
        <div class="row-fluid">
            <div class="span2">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        @foreach (var ClassName in ViewBag.classify)
                        {          
                            <li>
                                <a href="/Home/Detail/@ClassName.Key">@ClassName.Value</a>
                            </li>
                        }
                    </ul>
                </div>
                <!--/.well -->
            </div>
            <!--/span-->
            <div class="span10">
                <div class="demo">

                    <h1>分享流</h1>

                    <div id="wallcontainer" class="transitions-enabled infinite-scroll clearfix">
                        @foreach (var ImageSource in ViewBag.ImageDatasource)
                        { 
                            <div class="box showpic">

                                <div class="picbox">
                                    <a href="#" target="_blank">
                                        <img width="150" alt="11111111111" original="/images/@ImageSource["SmallImagePath"]" 
                                            class="txpic" src="/images/@ImageSource["BigImagePath"]" style="display: block;"></a>
                                </div>
                                <p>@ImageSource["ImageTitle"]</p>
                                <div class="actions">
                                    <div class="lefter"><a class="button white" href="#">评论</a></div>
                                    <div class="righter"><a class="button white" href="#">分享</a></div>
                                </div>
                            </div>
                        }
                    </div>
                    <!--container end-->

                </div>
                <!--demo end-->
            </div>
        </div>
    </div>
    <div id="footer">
        @Html.Partial("_Footer")
    </div>
    <script type="text/javascript" src="/scripts/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/scripts/jquery.masonry.min.js"></script>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/Content/Bootstrap/js/bootstrap-transition.js"></script>
    <script src="/Content/Bootstrap/js/bootstrap-alert.js"></script>
    <script src="/Content/Bootstrap/js/bootstrap-modal.js"></script>
    <script src="/Content/Bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="/Content/Bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="/Content/Bootstrap/js/bootstrap-tab.js"></script>
    <script src="/Content/Bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="/Content/Bootstrap/js/bootstrap-popover.js"></script>
    <script src="/Content/Bootstrap/js/bootstrap-button.js"></script>
    <script src="/Content/Bootstrap/js/bootstrap-collapse.js"></script>
    <script src="/Content/Bootstrap/js/bootstrap-carousel.js"></script>
    <script src="@Url.Content("~/Content/Bootstrap/js/bootstrap-typeahead.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var $container = $('#wallcontainer');
            $container.imagesLoaded(function () {
                $container.masonry({
                    itemSelector: '.box',
                    columnWidth: 5 //每两列之间的间隙为5像素
                });
            });
        });
    </script>
</body>
</html>
